{% extends 'template.html' %}
{% block content %}
	<h2>Search results</h2><br/>
	{% if games %}
		<ul class="media-list">
  			{% for game in games %}
  				<li class="media">
    				<a class="pull-left" href="/game_overview/{{ game[0] }},0">
      					<img src="{{ url_for('static', filename = 'images/no_cover.jpg') }}" class="game-cover" name={{ game[0] }} width="50" height="50" />
    				</a>
    				<div class="media-body">
      					<a href="/game_overview/{{ game[0] }},0"><h4 class="media-heading">{{ game[2] }}</h4></a>
      					by <a href="/search_games_by_developer/{{ game[1] }}">{{ game[1] }}</a>
    				</div>
  				</li>
  			{% endfor %}
		</ul>
		
	{% endif %}
{% endblock %}