{% extends 'template.html' %}
{% block content %}
	<h1>User Profile</h1>
	<div class="jumbotron">
    <table>
      <tr>
        <td>
          <img src="{{ url_for('static', filename = 'images/default_avatar.jpg') }}" class="account-avatar" name={{ info[0] }} width="150" height="150" />
        </td>
        <td style="padding-left: 20px">
          <label>
            <h3><label id="message-to" name="{{ info[0] }}" >{{ info[0] }}</label></h3>
            <h4><b>Name:</b> {{ info[1] }} {{ info[2] }}</h4>
            <h4><b>Type:</b> {{ info[3] }}</h4>
          </label>
          {% if info[4]%}
            </td>
            <td style="padding-left: 200px">
              {% include 'send_message.html' %}
            </td>
          {% else %}
              <br/>
              <button id="btn-add-friend" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-user">+</span>
                <b>Add Friend</b>
              </button>
            </td>
          {% endif %}
      </tr>
    </table>
  </div>

  <div class="jumbotron">
    <h2>This user likes to play</h2>
    {% if games %}
      <br/>
      <ul class="media-list">
        {% for game in games %}
          <li class="media">
            <a class="pull-left" href="/game_overview/{{ game[0] }},0">
                <img src="{{ url_for('static', filename = 'images/no_cover.jpg') }}" class="game-cover" name={{ game[0] }} width="100" height="100" />
            </a>
            <div class="media-body">
                <a href="/game_overview/{{ game[0] }},0"><h3 class="media-heading">{{ game[2] }}</a></h3>
                <h3>by <a href="/search_games_by_developer/{{ game[1] }}">{{ game[1] }}</a></h3>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}